arunleveeXMl/note.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name = "note">
	<xs:complexType>
		<xs:sequence>
		<xs:element name="option_1" type="xs:string">
		<xs:element name="option_2" type="xs:string">
		<xs:element name="option_3" type="xs:string">
		<xs:element name="option_4" type="xs:string">
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>